# Toronto Neighborhood Clusters

First we import some libraries needed for to scrab the web page

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

!pip install beautifulsoup4

from bs4 import BeautifulSoup
print('Libraries Imported')

Requirement already satisfied: beautifulsoup4 in c:\users\simon\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in c:\users\simon\anaconda3\lib\site-packages (from beautifulsoup4) (1.9.3)
Libraries Imported

provide here the url to the wiki page:

In [2]:
wiki_url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
match='M1A'
df2=pd.read_html(wiki_url,match=match)
df=df2[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

The table in the website was already cleaned and respects all the criteria in the enouncement.
In fact:
    1. there are not rows containing Borough and not Neighborhood.
    2. there are not repeated value of Postal Code.
    3. Neighborhoods with the same Postal Code are already on the same row and comma separated.
For these reasons one can directly drop rows containing nan values to get the desired table:

In [3]:
df=df.dropna()
df.reset_index(drop=True, inplace=True)

In [4]:
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [5]:
df.shape

(103, 3)

download the csv file containing latitude and longitude

In [6]:
!wget -q -O loc_data.csv http://cocl.us/Geospatial_data
print('Donwload Completed')

Donwload Completed

In [11]:

df_location = pd.read_csv('loc_data.csv')
df_location.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [15]:
df2=df.set_index('Postal Code').join(df_location.set_index('Postal Code'))
df2.head()

,Borough,Neighborhood,Latitude,Longitude
Postal Code,,,,
M3A,North York,Parkwoods,43.753259,-79.329656
M4A,North York,Victoria Village,43.725882,-79.315572
M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494