# Toronto Neighborhood Clusters

First we import some libraries needed for to scrab the web page

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

!pip install beautifulsoup4

from bs4 import BeautifulSoup
print('Libraries Imported')

Requirement already satisfied: beautifulsoup4 in c:\users\simon\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in c:\users\simon\anaconda3\lib\site-packages (from beautifulsoup4) (1.9.3)
Libraries Imported

provide here the url to the wiki page:

In [66]:
wiki_url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
match='M1A'
df2=pd.read_html(wiki_url,match=match)
df=df2[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

The table in the website was already cleaned and respect all the criteria in the enouncement.
In fact:
    1. there are not rows containing Borough and not Neighborhood.
    2. there are not repeated value of Postal Code.
    3. Neighborhood with the same Postal Code are already comma separated.
For this reason one can directly drop rows containing nan values to get the desired table:

In [70]:
df=df.dropna()
df.reset_index(drop=True, inplace=True)

In [71]:
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [69]:
df.shape

(103, 3)